# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build files
/client/build
/server/dist
/.next
/.next/
/out/

# Environment files
.env
.env.local
/server/.env
/client/.env

# Log files
npm-debug.log*

# IDE and OS files
.DS_Store
.vscode/
